body {
    background-color: #e0e0eb;
    font-family: Arial, Helvetica, sans-serif;
} 

.logintext {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    /*box-sizing: border-box;*/ 
    font-family: Arial, Helvetica, sans-serif;
}

.inputtextsearch {
    
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    /*box-sizing: border-box;*/ 
    font-family: Arial, Helvetica, sans-serif;
}

.number {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0px;
    /*box-sizing: border-box;*/ 
    font-family: Arial, Helvetica, sans-serif;
}

/* unvisited link */
a:link.printlink {
    color: white;
}


.loginbtn{
background-color: #e60000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    
}

.loginbtn2{
background-color: #e60000;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    
}

div.title {
    background-color: #6699ff;
    color: white;
    padding: 14px 20px;
    
}

div.notification{
    background-color: #4CAF50;
    color: white;
    margin-right: 30px;
    margin-left: 30px;
    padding: 2px 0px 2px 0px;
}

div.intitle {
    background-color: #e60000;
    color: white;
    padding: 10px 0px 10px 0px; /*top right bottom left*/
    border-top: solid 2px #4CAF50;
    border-left: solid 10px #4CAF50;
    margin-right: 30px;
    margin-left: 30px;

        
}

div.login {
    /*border-radius: 5px;*/
    background-color: white;
    padding: 40px;
    border-style: solid;
    border-width: 1px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    
}

div.img {
    width:90px;
}

div.shadow {
    /*border-radius: 5px;*/
    background-color: white;
    padding: 40px;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: #ccc 0px solid;
    border-right: #777 3px solid;
    border-bottom: #777 3px solid;
    border-left: #ccc 0px solid;
}



div.form {
    /*border-radius: 5px;*/
    background-color: #ffffb3;
    padding: 20px 40px 20px 40px; /*top right bottom left*/
    border-style: solid;
    border-width: 1px;
    border-top: none;
    margin-right: 30px;
    margin-left: 30px;
    
}



.button1 {
    background-color: #4CAF50; /* Green */
    font-size: 10px;
} 

/*menu begin*/
ul {
    list-style-type: none;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #e60000;
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #4CAF50;
}

.active {
    background-color: #4CAF50;
}
/*menu end*/

.w3-right {
    float: right !important;
    padding-right: 30px;
}



.under_logo {
    float: left !important;
    padding-left: 345px;
    padding-top: 18px;
}

p {
    text-indent: 50px;
    line-height: 1.8;
}

div.about {
    /*border-radius: 5px;*/
    background-color: #ffffb3;
    padding: 20px 40px 20px 40px; /*top right bottom left*/
    border-style: solid;
    border-width: 1px;
    border-top: none;
    margin-right: 30px;
    margin-left: 30px;
    text-align: justify;
}

.w3-wide {
    letter-spacing: 4px;
}

/*logo beg*/
.ldl-logo {
    font-family: fontawesome;
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 30px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    position: absolute;
    top: 17px;
    padding-left: 100px;
}
/*logo end*/

img.logo {
    
    width:70px;
    display: block;
   position: absolute;
    top: 10px;
    padding-left: 30px;
}

img.loginlogo {
    width:90px;
}




